<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="D:/logs/NLogInternal.Bork.Notifications.log">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File"
            name="file"
            fileName="D:/logs/Bork.Notifications.${shortdate}.log"
            layout="${longdate} | ${pad:padding=-5:fixedlength=true:inner=${uppercase:${level}}} | ${logger} | ${message} ${exception}" />
    
    <!-- write logs to console -->
    <target xsi:type="ColoredConsole"
            name="console"
            detectConsoleAvailable="true"
            useDefaultRowHighlightingRules="true"
            layout="${pad:padding=-5:fixedlength=true:inner=${lowercase:${level}}}: ${callsite} line ${callsite-linenumber}${newline}
      ${message}${when:when='${exception:format=toString}' != '':inner=${newline}${newline}${exception:format=toString}${newline}}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>