@model StatsViewModel
<div>
    <span class="stat-header">Borks</span><br />
    <span class="stat">@Model.Borks</span>
</div>
<div>
    <span class="stat-header">Re-Borks</span><br />
    <span class="stat">@Model.ReBorks</span>
</div>
<div>
    <span class="stat-header">Re-Borked</span><br />
    <span class="stat">@Model.ReBorked</span>
</div>